:root {
	--text-color: #121113;
	--accent-dark: #511415;
	--accent-neutral: #A8807C;
	--accent-light: #D4BBB6;
	--background-color: #F3F3F3;
}

* {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Merriweather', serif;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

