:root {
	--text-color: #121113;
	--text-color-contrast: #ECECEC;
	--accent-dark: #511415;
	--accent-neutral: #A8807C;
	--accent-light: #D4BBB6;
	--background-color: #F3F3F3;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Merriweather', serif;
}

a {
	color: var(--accent-dark);
	text-decoration: none;
}

a:visited {
	color: var(--accent-neutral);
}

a:hover {
	text-decoration: underline;
}
