.content {
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: larger;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 60%;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header a {
	font-size: small;
}

.image-container {
    display: flex;
    justify-content: center;
}