.content {
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: larger;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 60%;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-link {
    min-width: 90px;
}

.header a {
	font-size: small;
}

.image-container {
    display: flex;
    justify-content: center;
}

.big-image {
    width: 100%;
}

.footnotes {
    font-size: smaller;
}

blockquote {
    background-color: var(--accent-neutral);
    border: 1px solid var(--accent-dark);
    padding: 16px 32px;
    font-size: larger;
}

blockquote > p, blockquote > footer {
    color: var(--text-color-contrast);
}

blockquote > footer {
    text-align: right;
}