<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.title }}</title>
		{% include global-includes.html %}
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/index.css" />
	</head>
	<body>
		<div class="with-sidebar">
			<div class="sidebar">
				<div class="sidebar-content">
					<h1>{{ site.title }}</h1>
					<span>What are you up to?</span>
					<img class="hank-and-dad" src="{{ site.baseurl }}/assets/images/hankanddad.jpeg" alt="My son and I" />
					<span class="description">{{ site.description }}</span>
					<div class="links-container">
						<a class="github" href="http://www.github.com/cincospenguinos">
							<img src="{{ site.baseurl }}/assets/images/github.png" />
							<span>{{ site.github_username }}</span>
						</a>
						<a href="http://cincospenguinos.github.io/blog/AndreLaFleurResume.pdf">Resume</a>
					</div>
				</div>
			</div>
			<div class="not-sidebar">
				{% for post in site.posts %}
					<div class="post-container">
						<a href="{{ site.baseurl }}{{ post.url }}">
							<h2>{{ post.title }}</h2>
							<p>{{ post.description }}</p>
						</a>
						<div class="categories-container">
							<!-- TODO: Link to category page -->
							{% for category in post.categories %}
								<div class="category">{{ category }}</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>